:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --base-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --soc-lk-cr: #afb1b8;
  --border-rad: 4px;
  --anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--base-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--anime);
}

a:hover, a:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color var(--anime);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
  }
}

.navigation__item:not(:first-child) {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:first-child) {
    margin-top: 0px;
    margin-left: 50px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.navigation__link--active {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 306px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
  }
}

.contacts__item:not(:first-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .contacts__link.accent {
    font-size: 34px;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.networks {
  display: flex;
}

@media screen and (min-width: 768px) {
  .networks {
    display: none;
  }
}

.networks__item:not(:last-child)::after {
  content: '';
  width: 2px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.section__title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--base-bg-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.speciality__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--base-bg-color);
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal__title {
    line-height: 1.5;
  }
}

.button {
  width: 200px;
  height: 50px;
  color: var(--base-bg-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-rad);
  border-color: transparent;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--anime);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--base-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-rad);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anime);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: var(--base-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--anime);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__form-label:focus-within > .modal__form-icon,
.modal__form-label:hover > .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-field:last-of-type {
  margin-bottom: 20px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-rad);
  padding-left: 42px;
  outline: none;
  transition: border-color var(--anime);
}

.modal__form-input:hover, .modal__form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-input:-webkit-autofill,
.modal__form-input:-webkit-autofill:hover,
.modal__form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--title-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--base-bg-color) inset;
  box-shadow: 0 0 0px 1000px var(--base-bg-color) inset;
}

.modal__form-coment {
  padding: 12px 16px;
}

.modal__form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill var(--anime);
}

.modal__form-coment {
  resize: none;
  height: 120px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .modal__checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.modal__checkbox-text {
  margin-left: 8px;
  margin-right: 6px;
  color: var(--text-color);
}

.modal__checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--anime), border-color var(--anime);
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__checkbox:focus-within + .modal__checkbox-icon {
  border-color: var(--accent-color);
}

.modal__checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__submit-button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--base-bg-color);
  color: var(--soc-lk-cr);
  transition: color var(--anime), background-color var(--anime);
}

.social__link:hover, .social__link:focus {
  color: var(--base-bg-color);
  background-color: var(--accent-color);
}

.social__svg {
  fill: currentColor;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__form {
    text-align: center;
  }
}

.subscribe__form-field {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: var(--base-bg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-rad);
}

@media screen and (min-width: 480px) {
  .subscribe__form-field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form-field {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__form-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__form-field:-webkit-autofill,
.subscribe__form-field:-webkit-autofill:hover,
.subscribe__form-field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--base-bg-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg-color) inset;
  box-shadow: 0 0 0px 1000px var(--secondary-bg-color) inset;
}

.subscribe__submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribe__submit-icon {
  margin-left: 10px;
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 48px 0 48px 40px;
    background-color: var(--base-bg-color);
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    margin-left: 93px;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.hero {
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero@2x_mobile.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero@2x_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero_desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero@2x_desktop.jpg);
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.features {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.features__item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__text {
  color: var(--text-color);
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin: 0 auto 30px auto;
  background: var(--section-bg-color);
  border-radius: var(--border-rad);
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    height: 120px;
  }
}

.features__icon-svg {
  background: var(--section-bg-color);
  border-radius: var(--border-rad);
}

.speciality {
  display: none;
}

@media screen and (min-width: 1200px) {
  .speciality {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.speciality__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.speciality__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.speciality__thumb {
  position: relative;
}

.speciality__lable {
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-bg-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  background-color: var(--base-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-color: transparent;
}

.team__item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__proffesion {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
}

.customers__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  background-color: var(--base-bg-color);
  border: 1px solid var(--soc-lk-cr);
  color: var(--soc-lk-cr);
  border-radius: var(--border-rad);
  transition: color var(--anime), border-color var(--anime);
}

.customers__link:hover, .customers__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-bg-color);
}

.footer__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer__info {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--base-bg-color);
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    justify-content: center;
  }
}

.footer__address {
  margin-bottom: 9px;
  color: var(--base-bg-color);
  font-style: normal;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer__mail {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__socials {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
    text-align: left;
  }
}

.footer__label {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--base-bg-color);
  margin-bottom: 20px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--base-bg-color);
  transition: background-color var(--anime);
}

.project {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .project {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-top: 15px;
  margin-left: 8px;
}

.filter__button {
  background-color: #f5f4fa;
  padding: 8px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: var(--border-rad);
  border-color: transparent;
  transition: color var(--anime), background-color var(--anime), box-shadow var(--anime);
}

.filter__button:hover, .filter__button:focus {
  color: var(--base-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: var(--border-rad);
  border-color: transparent;
}

.project__type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .project__list {
    margin-left: -30px;
    margin-top: -30px;
    justify-content: flex-start;
  }
}

.project__item {
  display: flex;
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project__caption {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__link {
  display: block;
  transition: box-shadow var(--anime);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--base-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--anime);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */