:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --base-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --soc-lk-cr: #afb1b8;
  --border-rad: 4px;
  --anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
